.html {
    width: 620px;
    margin: auto;
    background: rgb(49, 36, 36);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;   
}
.padrao2 {
    width: 1000px;
    margin: auto;
}
.lugar {

}